ul{
  list-style:none;
  }

  /* styles.css */

/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* 헤더 스타일 */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* 메인 콘텐츠 스타일 */

/* 카드 스타일 */
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* 제목 스타일 */
h1 {
  margin-top: 0;
}

/* 링크 스타일 */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




/* ul 스타일 */
.recmList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: auto; /* 가로 스크롤바 추가 */
  white-space: nowrap; /* 요소들을 한 줄에 나열 */
}

/* li 스타일 */
.recmList li {
  width: 20%; /* 부모 요소인 ul의 가로 크기에 따라 조절 */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block; /* 요소들을 인라인 블록으로 표시하여 옆으로 나열 */
}

/* li 안의 이미지 스타일 */
.recmList li img {
  max-width: 100%;
  height: auto;
}
