/* components/Header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logInBtn {
    margin-left: auto; /* 로그인 버튼을 오른쪽으로 이동 */
  }
  
  .searchBox {
    display: flex;
    margin-top: 10px; /* input 창과 search 버튼과의 간격 조정 */
  }

  /* 버튼 스타일 */
.searchbtn {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .searchbtn:hover {
    background-color: #0056b3;
  }